/******************************************************
 * author: Mr. Pi <mrpi@mr-pi.de>
 * copyright: 2013 Mr. Pi
 *-----------------------------------------------------
 * main stylesheet for open source video chat
 * ****************************************************/

* {
	margin: 0px;
	padding: 0px;
}
body {
	background: tan;
}
body > section {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	display: -moz-box;
	-moz-box-orient: horizontal;
	display: box;
	box-orient: horizontal;
}
body > section > article {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	border: thin solid black;
	width: 100%;
	margin: 0.25cm;
	padding: 0.25cm;
	padding-bottom: 1cm;
	background: rgba(10,10,10,0.8);
	border-bottom-right-radius: 3mm;
	border-top-left-radius: 3mm;
	border-bottom-left-radius: 6mm;
	border-top-right-radius: 6mm;
	box-shadow: 3mm 3mm 3mm rgba(80,120,120,0.55);
	color: rgba(200,160,0,0.8);
}
body > section > article > h2 {
	border-bottom: thin solid #bbb;
	margin-bottom: 2mm;
}
body > section > article a {
	color: rgba(120,200,0,0.8);
	text-decoration: none;
	font-style: italic;
	border-bottom: thin solid rgba(30,220,0,0);
	transition-property: all;
	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
}
body > section > article a:active,
body > section > article a:focus,
body > section > article a:hover {
	color: rgba(30,220,0,0.8);
	border-bottom: thin solid rgb(30,220,0);
}
body > header {
	border: thin solid black;
	padding: 0.25cm;
	padding-bottom: 5mm;
	margin-bottom: 5mm;
	background: rgba(10,10,10,0.8);
	box-shadow: 3mm 3mm 3mm rgba(80,120,120,0.55);
	color: rgba(200,160,0,0.8);
}
p {
	margin-bottom: 1em;
}
.column_3 {
	-webkit-column-count: 3;
	-webkit-column-rule: thin solid rgba(187,187,187,0.7);
	-webkit-column-gap: 2em;
	-moz-column-count: 3;
	-moz-column-rule: thin solid rgba(187,187,187,0.7);
	-moz-column-gap: 2em;
	-o-column-count: 3;
	-o-column-rule: thin solid rgba(187,187,187,0.7);
	-o-column-gap: 2em;
	column-count: 3;
	column-rule: thin solid rgba(187,187,187,0.7);
	column-gap: 2em;
}
.column_2 {
	-webkit-column-count: 2;
	-webkit-column-rule: thin solid rgba(187,187,187,0.7);
	-webkit-column-gap: 2em;
	-moz-column-count: 2;
	-moz-column-rule: thin solid rgba(187,187,187,0.7);
	-moz-column-gap: 2em;
	-o-column-count: 2;
	-o-column-rule: thin solid rgba(187,187,187,0.7);
	-o-column-gap: 2em;
	column-count: 2;
	column-rule: thin solid rgba(187,187,187,0.6);
	column-gap: 2em;
}
#menu > article > input {
	display: block;
	width: 100%;
	height: 1cm;
	margin-top: 2.5mm;
	font-size: 0.75cm;
	border-radius: 2.5mm;
}
#menu > article > button {
	width: 100%;
}

